<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tap Me!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tap Me!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div align="center">
      <p>{{tapCounter}}</p>
      <div>
        <ion-button size="large"  fill="outline" (click)="increase()">Increase!</ion-button>
        <ion-button size="large"  fill="outline" (click)="decrease()">Decrease!</ion-button>
        <ion-button size="large"  fill="outline" (click)="reset()">Reset</ion-button>
      </div>
    </div>
  </div>
</ion-content>
